;Since git 1.7.10 it'es possible to include external file
;I use it to store private data like:
;[user]
;    name =
;    email =
[include]
    path = ~/.gitconfig_private

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lg1 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    oneline = log --pretty=oneline --abbrev-commit --graph
    co = checkout
    br = branch
    st = status

[color]
	ui = auto

[push]
    # Automatically set origin as the remote for current branch
    autoSetupRemote = true

# To fix
# fetch-pack: unexpected disconnect while reading sideband packet
# When cloning linux
#[core]
#    packedGitLimit = 512m
#    packedGitWindowSize = 512m
#[pack]
#    deltaCacheSize = 2047m
#    packSizeLimit = 2047m
#    windowMemory = 2047m
#[core]
#	compression = 0
